<%-include('partials/header')%>

<img  src="../public/images/About_section1.svg" alt="main" class="w-full" data-aos="fade-up" data-aos-duration="1500" />
<div class="flex felx-col justify-center mt-16">
  <div class="w-[596px]">
    <p
      class="headerFont font-extrabold text-3xl md:text-5xl lg:text-7xl text-center text-[#0B1C98] nutino"
    >
      News & Articles
    </p>
    <p
      class="headerFont text-2xl text-[#797979] text-center mt-4 tracking-wide"
    >
      Lorem ipsum dolor sit amet consectetur adipiscing elit interdum
      ullamcorper sed pharetra sene.
    </p>
  </div>
</div>

<section>
  <div class="flex flex-wrap p-5 space-x-5">
    <% blogs_data.forEach(element => { %>
      
         <div class="bg-gray-200  w-[30%] p-5 rounded-lg">
            <img src="../public/blogImages/<%=element.blog_image_url%>" class="w-96 h-72 rounded-lg">
            <p class="text-2xl font-bold"><%=element.blog_title%></p>
            <p><%=element.blog_short_description%></p>
            <a href="/your_blog?id=<%=element._id%>" class="text-blue-500 underline">
            <p>Read More</p>
            </a>
         </div> 
        </a>             
    <%}) %>
</div>
</section>
<%-include('partials/footer')%>
<script>
  AOS.init();
  AOS.init({
      // Global settings:
      debounceDelay: 50, 
      once: false, 
      mirror: true, 

  });
</script>