<%- include('partials/header')%>

    <body>
        <main>
            <!-- Banner section  -->
            <section class="banner w-full h-[20vh] md:h-[30vh] bg-cover bg-center"
                style="background-image: url(../public/images/CarrerPage_1_Banner.svg);" ata-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-up">
            </section>
            <!-- Carrer Section -->
            <section class="w-full px-7 lg:px-[4rem] md:min-h-screen my-[1rem] font-Nunito" ata-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-in">
                <div class="flex flex-col  gap-[1.3rem] justify-center items-center  w-full" ata-aos-easing="linear"
                    data-aos-duration="1500" data-aos="fade-left">
                    <h2 class="text-[#0B1C98] text-center font-[800] text-[2.25rem] md:text-[4.3rem]">Carrers</h2>
                    <p class="text-justify text-[1rem] md:text-[1.56625rem] text-[#797979] font-[400]">Take a big step
                        in
                        your career
                        with
                        SCLOUDIN .We
                        are looking for
                        passionate
                        people prepared to give
                        their best and learn
                        from a selective team of a talented engineers, designers and product analysts that are
                        disrupting
                        the startup scene</p>
                </div>
                <div class="flex w-full flex-col justify-center items-center md:min-h-screen gap-[3rem] py-[1rem] mt-[1rem]"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right">
                    <button
                        class="text-[#fff] rounded-[2.4rem] m-[1rem] shadow-md md:p-[1.7rem] p-[1rem] w-[80%] md:w-[34%] text-center  text-[1.125rem] bg-[#0B1C98]">
                        Browse Open Positions
                    </button>
                    <div
                        class="grid  grid-cols-2 place-items-center w-full md:w-[90%] mx-auto md:h-[75vh] gap-[1rem] md:gap-[4rem] ">
                        <div class="bg-cover bg-center w-full min-h-[25vh] md:h-[100%] bg-no-repeat rounded-[2rem] md:rounded-[5rem]"
                            style="background-image:url(../public/images/CarrerPage_2_Photo_1.svg);">
                        </div>
                        <div class="bg-cover bg-center md:h-[100%] w-full md:rounded-[5rem] rounded-[2rem] min-h-[25vh]"
                            style="background-image:url(../public/images/CarrerPage_2_Photo_2.jpg);">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Current Job Open Positions -->
            <section class="min-h-screen px-7 my-7" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">

                <h2
                    class="text-[#242331] text-[1.5rem] md:text-[3.125rem] my-[3rem] font-[800] font-Nunito text-center">
                    Current job
                    open positions
                </h2>
                <div
                    class="lg:w-[90%] w-full mx-auto grid grid-cols-1  md:grid-cols-2 gap-[3rem] min-h-[55vh] place-content-center ">
                    <% job_data.forEach(element=> { %>
                        <a href="/your_career?id=<%=element._id%>">
                            <div
                                class="bg-[#0B1C98] shadow-md shadow-[#0B1C98] text-white p-[2rem] rounded-[1.875rem] flex flex-col items-start gap-[1rem] justify-between">
                                <div class="flex flex-col gap-[2rem]  md:h-[50%] md:p-[.8rem] justify-between">
                                    <div class=" flex flex-col gap-[1rem]">
                                        <h2 class=" text-[#fff] text-[1.25rem] md:text-[1.875rem] font-[700]">
                                            <%=element.job_title%>
                                        </h2>
                                        <p
                                            class="text-[#fff] flex gap-[1rem] md:text-[1.25rem] leading-[166.5%] font-[400] ">
                                            <span>
                                                <%=element.job_location%>
                                            </span> <span>|</span> <span>
                                                <%=element.job_type%>
                                            </span>
                                        </p>
                                    </div>

                                    <p class="md:text-[1.29rem] text-[.9rem] leading-[157.4%] text-justify ">
                                        <%=element.job_short_description%>
                                    </p>
                                </div>
                                <button
                                    class="text-[#242331] text-[1rem] md:text-[1.25rem] text-center font-[700] bg-[#ffff] shadow-md  w-fit  p-[.8rem]  px-[rem] md:p-[1.5rem] md:px-[2.18rem] rounded-full">Apply
                                    Now</button>
                            </div>
                        </a>
                        <%}) %>

                </div>


            </section>
            <!--Section 20-->
            <div ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up">
                <p class="mt-8 text-[#242331] text-5xl md:text-7xl lg:text-7xl text-center font-extrabold nunito ">Get
                    in touch
                    today!</p>
            </div>
            <section class="lg:flex flex-row mx-4" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up">
                <div
                    class=" flex pt-6  lg:px-8 lg:ml-24 h-24 w-full lg:w-[40%] rounded-2xl border shadow-lg bg-white my-8 lg:mt-12">
                    <img src="../public/images/Home_Sec20_Mail_Icon.svg" alt="" class="h-12 mx-2">
                    <div class="flex justify-between mt-2">
                        <p class="text-[#1B2534] text-lg lg:text-xl font-bold mx-2 ">Mail Us</p>
                        <p class="text-[#797979] text-lg md:ml-32 lg:ml-32">contactus@sclodin.in</p>
                    </div>
                </div>

                <div
                    class=" flex pt-6 lg:mt-12 lg:px-8 lg:ml-24 h-24 w-full lg:w-[40%] rounded-2xl border shadow-lg bg-white my-8 ">
                    <img src="../public/images/Home_Sec20_Call_Icon.svg" alt="" class="h-12 mx-2">
                    <div class="flex justify-between mt-2">
                        <p class="text-[#1B2534] text-lg lg:text-xl font-bold mx-2 ">Call Us</p>
                        <p class="text-[#797979] text-lg md:ml-32 lg:ml-44">+91 9342979716</p>
                    </div>
                </div>
            </section>
            <%- include('partials/contactform')%>
        </main>
        <script>
            AOS.init();
            AOS.init({
                // Global settings:
                debounceDelay: 50, // the delay on debounce used while resizing window (advanced)


                // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
                once: false, // whether animation should happen only once - while scrolling down
                mirror: true, // whether elements should animate out while scrolling past them

            });
        </script>
    </body>
    <%- include('partials/footer')%>